<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Disease Prediction System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Bootstrap CSS File -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

  <!-- Main Stylesheet File -->
  <link  rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!--========================== Navbar============================-->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top " >
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="../static/images/logo.png" >
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {{ 'active' if active_page == 'index' else '' }}">
            <a class="nav-link" href="{{url_for('index')}}">Home 
            <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'register' else '' }}">
            <a class="nav-link" href="{{url_for('register')}}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- #navbar -->

 
{% block content %}


{% endblock %}
<footer id="footer" class="footer-area">
  <div class="container">
     <div class="row">
        <div class="col-md-4 mt-5">
           <div class="logo">
              <a href=""><img src="../static/images/logo.png" alt=""></a>
              <p>MedLyfe is a  Machine-Learning based Web Application that  will update the patient  about the disease which they are suffering from and suggest some home remedies and medicines for the same.</p>
           </div>
        </div>
        <div class="col-md-4 mt-5">
           <div class="footer-info ">
              <h3>CONTACT US</h3>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Medlyfe Point Mumbai </p>
              <p><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;&nbsp;medlyfe24.7@gmail.com</p>
              <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; &nbsp;+17813437199</p>
           </div>
        </div>
        <div class="col-md-4 mt-5">
           <div class="subcriber-info">
              <h3>SUBSCRIBE</h3>
              <p>Get healthy news, tip and solutions to your problems from our experts.</p>
              <div class="subcriber-box">
                 <form id="mc-form" class="mc-form">
                    <div class="newsletter-form">
                       <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                       <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button> 
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>

 
  <!-- JavaScript Libraries -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script>
  $('.nav-link').on('click',function() {
  $('.navbar-collapse').collapse('hide');
});
</script>
</body>
</html>
