{% extends 'base.html' %}
{% block content %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/book-app.css') }}"/>
{% endblock stylesheet %}
<div class="container">
    <div class="title" style="margin-top: 100px;">
        <h2>Book an Appointment </h2>
      </div>
</div>  
<section id="appointment" >
    <div class="container">
         <div class="row">
              <div class="col-md-6 col-sm-6">
                   <img src="https://thumbs.dreamstime.com/b/book-your-medical-appointment-online-using-mobile-app-doctor-sitting-desk-background-wearing-face-mask-190595834.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-6 col-sm-6">
               <h3 class="hospname">For : {{ hospital_name }}</h3>
                   <form id="appointment-form" role="form" method="post" action="{{ url_for('booking') }}">
                        <div class="row">
                             <div class="col-md-6 col-sm-6">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" name="name" placeholder="{{ username }}" disabled>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="{{ email }}" disabled>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                  <label for="date">Select Date</label>
                                  <input type="date" name="date" value="" class="form-control">
                             </div>
                             <div class="col-md-6 col-sm-6">
                                   <label>Time </label>
                                   <input type="time" name="time" class="form-control" required>
                             </div>
                             <div class="col-md-12 col-sm-12">
                                  <label for="telephone">Phone Number</label>
                                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="{{ number }}" disabled>
                                  <label for="Message">Additional Message</label>
                                  <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                  <button class="btn btn-block book-btn mb-4" type="submit" value="submit">Book your Appointment</button>
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>       
    
                 
{% endblock %}
