{% extends 'base.html' %}
{% block content %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/hospital.css') }}"/>
{% endblock stylesheet %}
<div class="container">
    <div class="title" style="margin-top: 100px;">
        <h2>Recommended Hospitals</h2>
      </div>
    <form action="#" method="POST">
        <div class="row">
            {% for i in available_hospitals %}
            <div class="col-md-4 mt-4">     
                <div class="card hospital">
                    <div class="card-img-block">
                        <img class="card-img-top" src="https://media.istockphoto.com/vectors/hospital-building-isolated-vector-illustration-flat-cartoon-modern-vector-id1058679916?k=6&m=1058679916&s=612x612&w=0&h=MPeF-j_Ac9dVgm-WgbENhYL0DFLdjfbLvA4vByYoCOc=" alt="Card image cap">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ i[1] }}</h5>
                    <p class="card-text">Address: {{ i[2] }}</p>
                    <div class="text-center">
                        <a class="btn btn-dark text-center" href="{{ url_for('book_appointment', hospital_name=i[1] ) }}">Book an Appointment</a>
                        <!--<button type="submit" class="btn btn-dark text-center">Book an Appointment</button>-->
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
   
</div>  
        
    
                 
{% endblock %}
